h1 {
    text-align: center;
    font-size: 2rem;
}

ol {
    font-size: 1.4rem;
}

li {
    margin-bottom: 1%;
    text-align: left;
}

body {
    margin: 0%;
    background-color: black;
}

.block {
    border-radius: 100px;
    padding: 1%;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2%;
}

#fortress {
    background-color: rgb(112, 200, 230);
}

#opportunities {
    background-color: rgb(51, 167, 51);
}

#weakness {
    background-color: orange;
}

#menaces {
    background-color: rgb(255, 72, 0);
}

@media (min-width: 1300px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .block {
        width: 25%;
    }
    
    h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    ol {
        font-size: 2rem;
    }
}