body {
    margin: 0%;
}

.mainBox {
    margin: 0%;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 600px;
}

.miniBox {
    padding: 5px;
    margin: 5px;
}

@media (min-width: 625px) {
    .container {
        width: 600px;
    }
}

@media (min-width: 783px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 1007px) {
    .container {
        width: 992px;
    }
}

@media (min-width: 1225px) {
    .container {
        width: 1208px;
    }
}

@media (min-width: 1425px) {
    .container {
        width: 1408px;
    }
}
