* {
	color: white;
}

body {
	background-color: black;
}

h1 {
	font-size: 45px;
	margin:0 0;
}
.tooBig {
	font-size: 90px;
	margin: 0 0;
}

.Emblema {
	width: 300px;
}

.megaEmblema {
	width: 500px;
}

.megaReloj {
	font-size: 120px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.bloqueHora {
	height: 800px;
}

.listaHorizontal {
	display: inline-block;
 	margin: 0 30px;
}

a .notGood {
        color: red;
}

a .good {
        color: lightgreen;
}



.notGood {
        color: red;
	text-decoration: none;
}

.good {
        color: lightgreen;
	text-decoration: none;
}

.atajos {
	max-width: 25%;
	float: right;
}

button {
    background-color: rgba(104, 104, 104, 0.8);
}

.imgAtajos {
	width: 100px;
	height: 100px;
}
.inicio{
	float: right;
	float: bottom;
}

@media ( max-width: 500px ) {
	.home {
		max-width: 495px;
	}
	a {
		font-size:50%;
	}
	ul {
		margin-top:0%;
		margin-bottom:0%;
		padding-top:0%;
		padding-bottom:0%;
	}
	li {
		margin-top:0%;
		margin-bottom:0%;
		padding-top:0%;
		padding-bottom:0%;
	}
	.atajos {
		max-width: 12.5%;
	}

	.imgAtajos {
		width: 50px;
		height: 50px;
	}

	.Emblema {
		width: 150px;
	}

	h1 {
		font-size: 22.5px;
	}

	.megaEmblema {
		width: 250px;
	}
	.tooBig {
		font-size: 45px;
	}

	.megaReloj {
		font-size: 60px;
	}

	.bloqueHora {
		height: 400px;
	}
	
	.listaHorizontal {
		display: inline-block;
	 	margin: 0 15px;
	}
}
