* {
    background-color: #82a83a;
    font-family: "Inter", sans-serif;
    /*font-optical-sizing: auto;
    font-style: normal;*/
}

button {
    background-color: #62802c;
    border-width: 0;
    border-radius: 10%;
    margin: 1%;
    box-shadow: 0 4px 10px #6a8a30;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
    background-color: #709231;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.Container {
    background-color: #749733;
    margin: 1%;
    padding: 1%;
}

header, h1, h2 {
    background-color: #77a720;
    border-radius: 2%;
    text-shadow: 0 4px 10px #b8df72;
}

header {
    padding: 0.4%;
    margin: 1%;
}

.skiny {
    font-size: 5rem;
    text-align: center;
    margin: 0%;
    color: #3b530e;
    text-shadow: 0 4px 10px #deffa1;
}

textarea, input {
    background-color: #fbffbe;
}

.notas {
    float: left;
    min-width: 50%;
    width: 68%;
    max-width: 70%;
}

.notes {
    margin: 1.5%;
    padding-bottom: 0.5%;
    align-items: center;
    text-align: justify;
}
.tools {
    padding: 0.4%;
    float: right;
    max-width: 30%;
    height: 85%;
}

.notas, .tools, .create, .lCreate, #creador, p {
    background-color: #92be41;
    border-radius: 3%;
}

#contenido {
    height: 250px;
    width: 95%;
}