header {
  /* El header, muy importante, ya que se encarga de presentar la primera plana del programa*/
  margin-top: 30%;
  max-width: 100%;
  background-color: rgba(255, 234, 114, 0.8);
  border-color: rgba(217, 65, 65, 1);
  border-width: 2px;
  border-style: solid;
  padding: 0.5px;
  margin-right: 0.5px;
  margin-bottom: 0.5px;
  margin-left: 0.5px;
}
/* Es escencial que el "super titulo" tenga su espacio para resaltar. */
.superTitle {
  font-size: 470%;
  min-height: 50%;
}

#results-container {
  /* El contenedor de resultados tiene que manejar un formato grande, pero no tan grande como el super titulo, para resaltar. */
  max-width: 100%;
  font-size: 200%;
  background-color: rgba(255, 234, 114, 0.8);
  border-color: rgba(217, 65, 65, 1);
  border-width: 2px;
  border-style: solid;
  padding: 0.5px;
  margin: 0.5px;
}

button {
  /* Se agranda la letra del único botón en la página, para ser cómodamente visible para cualquiera. */
  font-size: 300%;
}

audio {
  /* Es preferible que la caja de audio este al 100% de ancho, pero... */
  width: 100%;
  /* ... es preferible, mostrar el alto al 0% para hacer que esta desaparezca de la interfaz de usuario, y todo sea de preferente estética. */
  height: 0%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  /* Se busca afinidad en la fuente de estilos, para hacerla similar a la de Los Simpsons. */
    font-family: 'Patrick Hand', sans-serif;
}
