header {
  margin-top: 30%;
  max-width: 30%;
}

#results-container {
  max-width: 30%;
}

body {
    background-image: url('https://fedenoodt.github.io/Pagina_personal/ocio/Randomero%20Simpsons/Simpsons_logo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Patrick Hand', sans-serif;
}

}
