header {
  margin-top: 25%;
  max-width: 30%;
}

#results-container {
  max-width: 30%;
}

body {
    background-image: url('https://fedenoodt.github.io/Pagina_personal/ocio/Randomero%20Simpsons/Simpsons_logo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

}
