* {
    padding:0px;
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#minimalExpand_200 {
    min-width: 200px;
    min-height: 200px;
}

#minimalExpand_400 {
    min-width: 400px;
    min-height: 400px;
}

#minimalExpand_600 {
    min-width: 600px;
    min-height: 600px;
}

#minimalExpand_800 {
    min-width: 800px;
    min-height: 800px;
}

#tooFat_200 {
    max-width: 200px;
}

#tooFat_400 {
    max-width: 400px
}

#tooFat_600 {
    max-width: 600px
}

#tooFat_800 {
    max-width: 800px
}

.listaHorizontal {
	display: inline-block;
 	margin: 5 6px;
}

.logo {
	float: left;
	width: 120px;
	height: 120px;
}

.imgAtajos {
	float: right;
	width: 100px;
	height: 100px;
}

.volver {
	float: left;
    background-color: rgba(255, 255, 255, 0);
}

.fortressButton {
    background-color: rgba(32, 203, 255, 0.5);
}

h1 {
    font-size: 90px;
}

.warning {
    color: crimson;
}

.sleeping {
    color: rgb(0, 81, 255)
}

.bussy {
    color: rgb(250, 193, 87)
}

.online {
    color: white
}

h3 {
    font-size: 70px;
}

h4 {
    font-size: 50px;
}

h5 {
    font-size: 40px;
}

a {
    color: black;
	text-shadow: 2px 2px 2px rgba(147, 182, 145, 1);
	transition: text-shadow 0.6s ease-in-out;
}

a:link {
	text-decoration: none;
  }

a:hover {
    color: rgb(77, 145, 74);
	text-shadow: 2px 2px 2px rgba(147, 182, 145, 0);
	transition: text-shadow 0.6s ease-in-out;
}

.buttonContainer {
    transition: width 2s;
}

#noOnesLand{
    background-color: rgba(230, 183, 84, 0.884);
}

#swerterland{
	background-color: rgba(107, 107, 107, 0.884);
}

#default:hover {
	background-color: rgba(14, 78, 6, 0.65);
    transition: background 1.0s ease-in-out;
	box-shadow: 0px 10px 1px rgba(77, 145, 74, 1);
	transition: box-shadow 0.6s ease-in-out;
}

#noOnesLand:hover {
    background-color: rgba(221, 178, 85, 0.884);
    transition: background 1.0s ease-in-out;
	box-shadow: 0px 10px 1px rgba(189, 150, 68, 0.884);
	transition: box-shadow 0.6s ease-in-out;
}
#swerterland:hover {
	background: url("Swerterland recortada.png");
    transition: background 1.0s ease-in-out;
	box-shadow: 0px 10px 1px rgba(114, 114, 114, 0.884);
	transition: box-shadow 0.6s ease-in-out;
}
#fortress:hover {
	background: url("Bandera de La Fortaleza recortada.png");
    	transition: background 1.0s ease-in-out;
	box-shadow: 0px 10px 1px rgb(15, 128, 0);
	transition: box-shadow 0.6s ease-in-out;
}

.slFlag {
    float: left;
}

.slWarFlag {
    float: right;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    flex: 1;
    min-width: 225px;
}

.in-flex:first-child{
    flex: 2;
    background-color: rgba(17, 95, 7, 0.5);
    margin: 20px;
    margin-bottom: 0px;
}

.in-flex div {
    padding: 25px;
    background-color: rgba(17, 95, 7, 0.5);
    margin: 20px;
}
