* {
	color: rgb(243,200,200);
	font-size: 24px;
}

body {
	background-image: url("https://fedenoodt.github.io/Pagina_personal/fondoGrupote.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1 {

	font-size: 3rem;
	margin:0 0;
	display: inline-block;
}

h2 {

	font-size: 2rem;
	margin:0 0;
}

h3 {

	font-size: 1rem;
	margin:0 0;
}

.back {
	font-size: 35px;
}


.Emblema {
	width: 300px;
	margin: 15px;
	border-radius: 10%;
}

.container {
	background-color: rgba(64,133,190,0.8);
	border-radius: 10px;
	margin-top: 10px; 
	margin-bottom: 10px; 
}

.miniBox { display: inline-block; }

.graficoEsquema {
	width: 80%;
}
