* {
	color: rgb(51, 51, 51);
	font-size: 26px;
}

body {
	background-color: rgb(49, 49, 49);
}

h1 {

	font-size: 50px;
	margin:0 0;
	display: inline-block;
}

h3 {

	font-size: 30px;
	margin:0 0;
	display: inline-block;
}

h4 {

	font-size: 20px;
	margin:0 0;
}

.back {
	font-size: 35px;
}


.Emblema {
	width: 300px;
	margin: 15px;
	border-radius: 10%;
}

.container {
	background-color: rgb(94, 163, 190);
    	box-shadow: 5px 5px 10px rgb(1, 1, 1);
	border-radius: 2%;
	margin-bottom: 10px; 
	text-align: center;
    /*overflow: scroll;*/
}

a:link {
	text-decoration: none;
  }

.vinculo {
    transition: text-shadow 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

.vinculo:hover {
    color: orange;
    text-shadow: 5px 5px 10px rgb(49, 49, 49);
    transition: color 0.5s ease-in-out;
    transition: text-shadow 0.5s ease-in-out;
}

  .listaHorizontal {
      display: inline-block;
       margin: 0 30px;
  }

.download {
    position: fixed;
    float:right;
    width: 150px;
    padding: 5px;
	background-color: rgb(94, 163, 190);
    box-shadow: 5px 5px 10px rgb(1, 1, 1);
    transition: box-shadow 1.0s ease-in-out;
}

.download:hover {
    background-color: rgb(94, 203, 190);
    transition: box-shadow 1.0s ease-in-out;
}

.bloque {
	display: inline-block;
	width: 80%;
	background-color: rgba(94, 163, 190, 0);
	border-radius: 2%;
	margin: 25px; 
    /*overflow: scroll;*/
    transition: box-shadow 1.0s ease-in-out;
}

.bloque:hover {
    box-shadow: 5px 5px 10px rgb(49, 49, 49);
    transition: box-shadow 1.0s ease-in-out;
}

.graficoEsquema {
	width: 680px;
}
